{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add or Edit Pricing Configuration</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <h2>{% if pricing_config %}Edit{% else %}Add{% endif %} Pricing Configuration</h2>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Save</button>
    </form>

    <a href="{% url 'pricing:pricing_config_list' %}">Back to Pricing Configurations</a>

    {# Display messages #}
    {% if messages %}
        {% for message in messages %}
            <div class="message">{{ message }}</div>
        {% endfor %}
    {% endif %}

</body>

</html>
